VITE_USE_JSON_DATA=true
VITE_BACKEND_URL=http://localhost:4000
VITE_EMAILJS_PUBLIC_KEY=
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_SUPPORT_EMAIL=
VITE_CLOUDINARY_CLOUD_NAME=laxe3qdr
VITE_CLOUDINARY_UPLOAD_PRESET=loft_unsigned